<h1>Tic Tac Toe</h1>
<h3>You can see the code of the game <a href="">here</a></h3>
<h2 *ngIf="winner">{{player}} Win!!!</h2>
<h2 [ngClass]="{hide: !noWinner}">Sorry, standoff! Try again!</h2>
<div class="field-wrapper">
  <div class="field">
      <div *ngFor="let line of arr" class="line">
        <cell class="cell" *ngFor="let item of line" [cell]="item" [stopClick]="stopClick" (check)="changeState($event.cell)"></cell>
      </div>
  </div>
</div>
<div class="buttons">
  <label for="dim">Dimension of the field</label>
  <input type="number" id="dim" min="3" max="10" [(ngModel)]="dimension"><br>
  <label for="line">Length of the winning line</label>
  <input type="number" id="line" min="3" max="10" [(ngModel)]="line"><br>
  <button (click)="restartGame()" >Reset game</button>
</div>
